In [2]:
import pandas as pd

In [17]:
zions = []

for i in range(1000):
    val = i*0.9 + 3
    zions.append(np.floor(val))
    
others = []

for i in range(1000):
    val = i*1.4 + 4.5
    others.append(np.floor(val))

In [18]:
np.max(zions)

902.0

In [19]:
np.max(others)

1403.0

In [20]:
df = pd.DataFrame({'Zions' : zions,
                                'Others' : others}, 
                                columns=['Zions','Others'])

In [25]:
df

     Zions  Others
0      3.0     4.0
1      3.0     5.0
2      4.0     7.0
3      5.0     8.0
4      6.0    10.0
..     ...     ...
995  898.0  1397.0
996  899.0  1398.0
997  900.0  1400.0
998  901.0  1401.0
999  902.0  1403.0

[1000 rows x 2 columns]

In [33]:
index = []
for i in range(1000):
    index.append(i)
    
df['num_swipes'] = index

In [34]:
df = df.set_index('num_swipes')

In [39]:
df.to_csv("/Users/markomiholjcic/Documents/GitHub/Sliders/numberofswipes.csv", index = True)