In [1]:
import pandas as pd

NEW FAKE DATA

In [3]:
num_swipes = []
for i in range(1000):
    num_swipes.append(i)

In [4]:
master = []
for i in range(1000):
    master.append(i)

In [5]:
visa = []
for i in range(1000):
    visa.append(i)

In [6]:
discover = []
for i in range(1000):
    discover.append(i)

In [7]:
amex = []
for i in range(1000):
    amex.append(i)

In [8]:
df = pd.DataFrame({'num_swipes' : num_swipes,
                                'master' : master,
                                  'visa' : visa, 
                                  'discover' : discover,
                                  'amex' : amex}, 
                                columns=['num_swipes','master', 'visa', 'discover','amex'])

In [9]:
df

     num_swipes  master  visa  discover  amex
0             0       0     0         0     0
1             1       1     1         1     1
2             2       2     2         2     2
3             3       3     3         3     3
4             4       4     4         4     4
..          ...     ...   ...       ...   ...
995         995     995   995       995   995
996         996     996   996       996   996
997         997     997   997       997   997
998         998     998   998       998   998
999         999     999   999       999   999

[1000 rows x 5 columns]

In [10]:
df = df.set_index('num_swipes')
df

            master  visa  discover  amex
num_swipes
0                0     0         0     0
1                1     1         1     1
2                2     2         2     2
3                3     3         3     3
4                4     4         4     4
...            ...   ...       ...   ...
995            995   995       995   995
996            996   996       996   996
997            997   997       997   997
998            998   998       998   998
999            999   999       999   999

[1000 rows x 4 columns]

In [12]:
df.to_csv("/Users/u0984549/Documents/GitHub/Sliders/multicards.csv", index = True)

ZIONS vs OTHERS

In [ ]:
zions = []

for i in range(1000):
    val = i*0.9 + 3
    zions.append(np.floor(val))
    
others = []

for i in range(1000):
    val = i*1.4 + 4.5
    others.append(np.floor(val))

In [ ]:
np.max(zions)

In [ ]:
np.max(others)

In [ ]:
df = pd.DataFrame({'Zions' : zions,
                                'Others' : others}, 
                                columns=['Zions','Others'])

In [ ]:
df

In [ ]:
index = []
for i in range(1000):
    index.append(i)
    
df['num_swipes'] = index

In [ ]:
df = df.set_index('num_swipes')

In [ ]:
df.to_csv("/Users/markomiholjcic/Documents/GitHub/Sliders/numberofswipes.csv", index = True)